body { 
    background: #ECEFF1; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 25px;
}

#preview img {
    width: 300px;
}

i {
    margin: 10px;
}

div.mdl-layout__header-row {
    margin-left: 10px;
    padding: 0;
}

#file-select {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

#header {
    background-color: #C48793;
}

#progress-bar {
    display: none;
}

div.demo-card-wide.mdl-card.mdl-shadow--2dp {
    width: calc(100%);
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
  }

.mdl-card__title img {
    width: 100%;
}

#prediction-text {
    color: rgb(33,150,243);
    font-size: 16px;
    font-weight: bold;
}

#card {
    display: none;
}
